<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB in bytes -->
      </requestFiltering>
    </security>
    
    <!-- Your existing fastCGI and handlers configuration -->
    <fastCgi>
      <application fullPath="C:\Users\user\AppData\Local\Programs\Python\Python311\python.exe" arguments="C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" maxInstances="4" idleTimeout="300" activityTimeout="30" requestTimeout="90" instanceMaxRequests="10000" protocol="NamedPipe" flushNamedPipe="false">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="wsgi.wsgi_app" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\PassportExtractorAPI" />
        </environmentVariables>
      </application>
    </fastCgi>
    <handlers>
      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\user\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>